@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    scroll-behavior: smooth;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
}


.click:active {
    transform: scale(0.8);
}

/*

NAV

*/

nav {
    background-color: #454545;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 12px;
}

.nav__header{
    display: flex;
}

.nav__header--text{
    font-size: 22px;
}

.nav__links{
    display: flex;
    width: 45%;
    max-width: 400px;
    justify-content: space-around;
}

.nav__link{
    color: white;
    font-size: 18px;
}

/*

LANDING PAGE 

*/

#landing__page {
    height: 100vh;
}