@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    scroll-behavior: smooth;
}

section {
    background-color: rgb(229, 209, 182);
    transition: all 300ms ease;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100%;
    text-align: center;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.brown {
    color: rgb(108, 86, 58);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: rgb(255, 248, 238);
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

.modal--open nav,
.modal--open .header__description {
    opacity: 0;
    visibility: hidden;
    transition: all 800ms;
}

/*

NAV

*/

nav {
    background-color: rgb(229, 209, 182);
    color: rgb(255, 248, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-right: 12px;
}

.nav__links{
    display: flex;
    width: 45%;
    max-width: 400px;
    justify-content: space-around;
}

.nav__link{
    color: rgb(255, 248, 238);
    font-size: 22px;
    font-weight: 500;
}

/*

LANDING PAGE 

*/

#landing__page {
    height: 100vh;
    position: relative;
}

.header__img {
    position: absolute;
    height: 90%;
    width: 100%;
}

.header__description {
    position: absolute;
    color: rgb(255, 248, 238);
    top: 30%;
    left: 50px;
    max-width: 800px;
}

.header__description--title {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.5;
}

.header__description--para {
    font-size: 24px;
}

/*

ABOUT

*/

#about {
    height: 100vh;
}

.section__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__title {
    font-size: 48px;
    margin-bottom: 48px;
}

.section__description--para {
    font-size: 20px;
}

.section__para {
    font-size: 24px;
    font-weight: 450;
}

.about__features{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about__feature {
    position: relative;
    background-color: rgb(255, 248, 238);
    display: flex;
    width: 30%;
    border: solid 2px rgb(108, 86, 58);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 3px rgb(0,0,0,0.1);
    transition: all 300ms ease;
    cursor: pointer;
}

.about__feature:hover {
    transform: scale(0.975);
}

.about__feature:active {
    transform: scale(0.95);
}

.about__feature--title {
    font-size: 40px;
    font-weight: 500;
    transition: all 600ms ease;
}

.about__feature--para {
    position: absolute;
    font-size: 20px;
    padding: 0 24px;
    transform: translateY(500%);
    opacity: 0;
    transition: all 1s ease;
}

.about--open .about{
    transform: translateY(-500%);
    opacity: 0;
}

.service--open .service{
    transform: translateY(-500%);
    opacity: 0;
}

.rental--open .rental{
    transform: translateY(-500%);
    opacity: 0;
}

.about--open .about__para{
    transform: translateY(0%);
    opacity: 1;
}

.service--open .service__para{
    transform: translateY(0%);
    opacity: 1;
}

.rental--open .rental__para{
    transform: translateY(0%);
    opacity: 1;
}

/*

PROJECTS

*/

.project__row {
    max-width: 1300px;
    padding: 0 32px;
}

.project__title {
    font-size: 30px;
    margin-bottom: 48px;
}

.project__wrapper{
    width: 100%;
    margin: 48px 0;
}

.project__imgs--wrapper {
    display: flex;
    width: 100%
}

.project__img--main {
    width: 100%;
    height: 100%;
}

.project__imgs {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
}

.project__img {
    width: 47.5%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 3px rgb(0,0,0,0.1);
    cursor: pointer;
}

.top__left {
    margin-right: 5%;
    margin-bottom: 5%;
}

.top__right {
    margin-bottom: 5%;
}

.bottom__left {
    margin-right: 5%;
}

.flip__effect {
    width: 50%;
    perspective: 1000px;
}

.flip__effect--inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 600ms ease;
    transform-style: preserve-3d;
}

.flip__effect:hover .flip__effect--inner {
    transform: rotateY(180deg);
}

.flip__effect--front,
.flip__effect--back {
    position: absolute;
    backface-visibility: hidden;
    width: 95%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 3px rgb(0,0,0,0.1);
}

/* front (image) */
.flip__effect--front{
    object-fit: cover;
    overflow: hidden;
}

/* back (text) */
.flip__effect--back {
    background-color: rgb(229, 209, 182);
    color: rgb(255, 248, 238);
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border: 2px solid rgb(108, 86, 58);
    margin-left: 5%;
}

/*

FOOTER

*/

footer {
    position: relative;
    background-color: rgb(108, 86, 58);
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    height: 70px;
    border-radius: 5px;
}

.footer__social--links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: rgb(255, 248, 238);
}

/* 

MODAL

*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: all 1s ease;
}

.modal--open .modal {
    z-index: 50;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    position: relative;
    transition: all 1s ease;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-110%);
}

.modal__contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 2;
    font-weight: 400;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #032927;
    border: 2px solid #032927;
    color: white;
    font-weight: bold;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 16px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #032927;
    color: #032927;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    ;align-items: center;
    justify-content: center;
}


.modal__overlay--loading {
    background-color: black;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}

.modal__overlay--visible{
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}


@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}


/* Small Laptops */

@media (max-height: 600px) {
    .container {
        padding: 15px 0;
    }

    .about__features {
        height: 300px;
        margin-bottom: 40px;
    }
    .about__feature--para {
        font-size: 16px;
    }
}