@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    scroll-behavior: smooth;
}

section {
    background-color: rgb(229, 209, 182);
    transition: all 300ms ease;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100%;
    text-align: center;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover{
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.brown {
    color: rgb(108, 86, 58);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: white;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%
}

/*

NAV

*/

nav {
    background-color: rgb(229, 209, 182);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-right: 12px;
}

.nav__links{
    display: flex;
    width: 45%;
    max-width: 400px;
    justify-content: space-around;
}

.nav__link{
    color: white;
    font-size: 22px;
    font-weight: 500;
}

/*

LANDING PAGE 

*/

#landing__page {
    height: 100vh;
    position: relative;
}

.header__img {
    position: absolute;
    height: 90%;
    width: 100%;
}

.header__description {
    position: absolute;
    color: white;
    top: 30%;
    left: 50px;
    max-width: 800px;
}

.header__description--title {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.5;
}

.header__description--para {
    font-size: 24px;
}

/*

ABOUT

*/

#about {
    height: 100vh;
}

.section__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__title {
    font-size: 48px;
    margin-bottom: 48px;
}

.section__description--para {
    font-size: 20px;
}

.section__para {
    font-size: 24px;
    font-weight: 450;
}

.about__features{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about__feature {
    position: relative;
    background-color: rgb(255, 248, 238);
    display: flex;
    width: 30%;
    border: solid 2px rgb(108, 86, 58);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 3px rgb(0,0,0,0.1);
    transition: all 300ms ease;
    cursor: pointer;
}

.about__feature:hover {
    transform: scale(0.975);
}

.about__feature:active {
    transform: scale(0.95);
}

.about__feature--title {
    font-size: 40px;
    font-weight: 500;
    transition: all 600ms ease;
}

.about__feature--para {
    position: absolute;
    font-size: 20px;
    padding: 0 24px;
    transform: translateY(500%);
    opacity: 0;
    transition: all 1s ease;
}

.about--open .about{
    transform: translateY(-500%);
    opacity: 0;
}

.service--open .service{
    transform: translateY(-500%);
    opacity: 0;
}

.rental--open .rental{
    transform: translateY(-500%);
    opacity: 0;
}

.about--open .about__para{
    transform: translateY(0%);
    opacity: 1;
}

.service--open .service__para{
    transform: translateY(0%);
    opacity: 1;
}

.rental--open .rental__para{
    transform: translateY(0%);
    opacity: 1;
}

/*

PROJECTS

*/


.project__title {
    font-size: 30px;
}